USE [master]
GO
/****** Object:  Database [Product]  Script Date: 28.12.2025 13:09:37 ******/
CREATE DATABASE [Product]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Product', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Product.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Product_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Product_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Product].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Product]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28.12.2025 13:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] nvarchar(50) NOT NULL UNIQUE,
	[category] [nvarchar](50) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[measurement] [nvarchar](50) NULL,
	[producer] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[supplier] [nvarchar](50) NULL,
	[date_of_delivery] [int] NULL,
	[expire_date] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (1, N'Milk', N'Milk products', CAST(32.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 120, N'pieces', N'Galychyna', N'Ukraine', N'FreshSupply', 10012025, 20012025)
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (2, N'White bread', N'Bakery products', CAST(18.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 80, N'pieces', N'KyivBread', N'Ukraine', N'BakeTrade', 10012025, 15012025)
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (3, N'Chicken eggs', N'Eggs', CAST(45.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 60, N'dozens', N'EcoFarm', N'Ukraine', N'AgroPost', 11012025, 25012025)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
